nav .navbar-nav li {
    cursor: pointer;
}
nav .img-profile {
    height: 30px;
    width: 30px;
}
nav .navbar .container-fluid {
    max-width: 1300px;
}
nav .dropdown-menu__item {
    cursor: pointer;
}
nav .dropdown-menu__item:hover .btn {
    background-color: #a2a2a2;
}
nav .Header__navLink {
    color: #555;
}
